.list-cell:odd {
    -fx-background-color: #f0f0f0;
}
.list-cell:even {
    -fx-background-color: #ffffff;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}